body {
  padding: 50px;
}

img {
  height: 10%;
  width: 10%;
  border-radius: 100%;
}

p,
li {
  font-size: 0.9em;
}

.results {
  border: 1px solid grey;
  border-radius: 10px;
  width: 100%;
  height: 50%;
  margin-top: 50px;
  padding: 12px;
}

.strong {
  font-weight: bold;
}
